<mat-drawer-container class="mat-draw-container"
	autosize>
	<mat-drawer #drawer
		[opened]="true"
		class="sidenav"
		mode="side">
		<div class="logo-container">
			<img routerLink="/" src="./assets/img/Logo__3.png"
				alt="Logo">
		</div>
		<ul class="menu-items">
			<li routerLink="/dashboard">
				<mat-icon>dashboard_customize</mat-icon>
				Dashboard
			</li>
			<li routerLink="/user">
				<mat-icon>account_box</mat-icon>
				User
			</li>
		</ul>
	</mat-drawer>

	<div class="example-sidenav-content">
		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<mat-icon (click)="drawer.toggle()"
					class="menu-icon">
					menu_open
				</mat-icon>
				<span>Simple CRM</span>
			</mat-toolbar-row>
		</mat-toolbar>
		<div class="router-container">
			<router-outlet></router-outlet>
		</div>
	</div>

</mat-drawer-container>
